.navbar-right .navbar-form input{
    margin-right: 10px;
    border: 1px;
}
.text-size-10 {
    font-size: 10px;
}
.text-size-12 {
    font-size: 12px;
}
.text-size-14 {
    font-size: 14px;
}
.text-size-18 {
    font-size: 18px;
}

.toast.toast-success {
    background-color: #18bc9c;
}
.toast-top-right {
    top: 70px;
}

input.ng-invalid.ng-dirty.form-validation, textarea.ng-invalid.ng-dirty.form-validation {
    border-color: #d62c1a;
}

input.ng-valid.ng-dirty.form-validation, textarea.ng-valid.ng-dirty.form-validation {
    border-color: #18bc9c;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.margin-right { margin-right: 5px;}
.margin-bottom { margin-bottom: 5px;}
.margin-bottom-10 { margin-bottom: 10px;}
.margin-bottom-20 { margin-bottom: 20px;}
.margin-bottom-30 { margin-bottom: 30px; }
.margin-top-15 { margin-top: 15px; }
.text-white { color: #ffffff; }
.h-margin-top {margin-top: 0;}
a.not-hover:hover { color: #ffffff; text-decoration: underline;}