.navbar-right .navbar-form input{
    margin-right: 10px;
    border: 1px;
}

.text-size-18 {
    font-size: 18px;
}
.toast.toast-success {
    background-color: #18bc9c;
}
.toast-top-right {
    top: 70px;
}

input.ng-invalid.ng-dirty.form-validation {
    border-color: #d62c1a;
}

input.ng-valid.ng-dirty.form-validation {
    border-color: #18bc9c;
}