.container
    h1 Moderator panel
    hr
    ul.nav.nav-tabs
        li.active
            a(href="#questions", target="_self", data-toggle="tab") Questions
        li
            a(href="#tags", target="_self", data-toggle="tab") Tags
    div#tabContent.tab-content
        div#question.tab-pane.fade.active.in
            p Questions
        div#tags.tab-pane.fade
            p Tags