.container
    div.row
        h3 Users
        hr
        div.form-group.col-md-6
            label.text-size-18(for="Search") Search user
            input#Search.form-control(type="text", ng-model="search", placeholder="Username")
    div.row(ng-controller="UsersController")
        div.col-xs-6.col-sm-3(ng-repeat="user in users")
            div.col-md-4
                img(src="https://www.gravatar.com/avatar/24780fb6df85a943c7aea0402c843737?s=128&d=identicon&r=PG", width="75" height="75")
            div.col-md-8
                a.text-size-14(href="#/users/{{ user.id }}") {{ user.username }}
                br
                span {{ user.address }}
                br
                span {{ user.reputation }}