.container(ng-controller="UserDetailsController")
    div.row
        h3 {{ user.username }}
        hr
        div.col-md-7
            div.col-md-3
                div.margin-bottom
                    img.center-block(src="https://www.gravatar.com/avatar/24780fb6df85a943c7aea0402c843737?s=128&d=identicon&r=PG", width="128" height="128" ng-if="!user.avatar")
                    img.center-block(src="{{user.avatar}}", width="128" height="128" ng-if="user.avatar")
                strong
                    p.text-center.text-size-18 {{ user.reputation }}
                p.text-center reputation
            div.col-md-9
                div.col-md-4
                    p(ng-if="user.website") website:
                    p(ng-if="user.address") address:
                    p name:
                    p email:
                    p last login:
                    p member since:
                div.com-md-8
                    p(ng-if="user.website")
                        a(href="javascript:;", target="_blank", ng-click="openWebsite(user.website)") Link
                    p(ng-if="user.address")
                        span {{ user.address }}
                    p
                        span {{ user.firstName + ' ' + user.lastName}}
                    p
                        span {{ user.email }}
                    p
                        span {{ user.lastLoginDate }}
                    p
                        span {{ user.registrationDate }}
        div.col-md-5
            span about me:
            p.well {{ user.aboutMe }}
    div.row
        div.col-md-10.margin-top-15
            h4 {{ questions.length }} Questions
            hr
            include ../questions/questionsUI
