.container
    div.row
        div.col-md-8
            div.panel.panel-success
                div.panel-heading
                    h3.panel-title.text-left.text-size-18 Edit user
                div.panel-body(ng-controller="EditUserController")
                    form.form-horizontal(name="editUserForm")
                        .row
                            .col-md-2
                                strong Id:
                            .col-md-6
                                span {{ user.id }}
                        .row
                            .col-md-2
                                strong Username:
                            .col-md-6
                                span {{ user.username }}
                        .row
                            .col-md-2
                                strong First name:
                            .col-md-6
                                span {{ user.firstName }}
                        .row
                            .col-md-2
                                strong Last name:
                            .col-md-6
                                span {{ user.lastName }}
                        .row
                            .col-md-2
                                strong Email:
                            .col-md-6
                                span {{ user.email }}
                        .row
                            .col-md-2
                                strong Registered:
                            .col-md-6
                                span {{ user.registrationDate }}
                        .row
                            .col-md-2
                                strong Last login:
                            .col-md-6
                                span {{ user.lastLoginDate }}
                        .row
                            .col-md-2
                                strong Current role:
                            .col-md-6
                                span {{ user.roles[0] }}
                        .row
                            .col-md-2
                                strong Change role:
                            .col-md-6
                                select.form-control.input-sm(ng-model="user.newRole")
                                    option(value="" ng-selected="'true'") Select role
                                    option(value="admin") Admin
                                    option(value="moderator") Moderator
                                    option(value="user") User
                    button.btn.btn-success.pull-right(ng-click="update(user)") Save changes
