.container
    div.table-responsive
        table.table.table-bordered.table-hover(ng-controller="UsersController")
            thead
                tr
                    th Username
                    th Name
                    th Email
                    th Actions
            .tbody
                tr(ng-repeat="user in users")
                    td {{ user.username }}
                    td {{ user.firstName + ' ' + user.lastName }}
                    td {{ user.email }}
                    td
                        a.btn.btn-primary.btn-sm.margin-right(href="#/admin/users/{{ user._id }}", rel="tooltip", title="Edit")
                            i.glyphicon.glyphicon-pencil
                        a.btn.btn-primary.btn-sm.margin-right(href="#/", rel="tooltip", title="Delete")
                            i.glyphicon.glyphicon-remove
    script(type="text/javascript").
        $(document).ready(function() {
            console.log($("[rel=tooltip]"));
            $("[rel=tooltip]").tooltip({placement: 'right'});
        });