.container
    div.table-responsive(ng-controller="UsersController")
        table.table.table-bordered.table-hover
            thead
                tr
                    th Username
                    th Name
                    th Email
                    th Actions
            .tbody
                tr(ng-repeat="user in users")
                    td {{ user.username }}
                    td {{ user.firstName + ' ' + user.lastName }}
                    td {{ user.email }}
                    td
                        a.btn.btn-primary.btn-sm.margin-right(href="#/admin/users/{{ user._id }}", title="Edit")
                            i.glyphicon.glyphicon-pencil
                        btn.btn.btn-primary.btn-sm.margin-right(type="button", ng-click="deleteUser(user._id)" title="Delete", data-toggle="modal", data-target="#acceptModal")
                            i.glyphicon.glyphicon-remove

        div#acceptModal.modal(tabindex="-1", role="dialog", aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Are you sure?
                    div.modal-footer
                        button.btn.btn-primary(type="button", ng-click="acceptDeleting()", data-dismiss="modal") Yes
                        button.btn.btn-default(data-dismiss="modal") No