doctype
html
    head
        title Forum system
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/lib/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        h2 Hi from layout

        block main-content

        include scripts