script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/ckeditor/ckeditor.js")
script(type="text/javascript" src="/lib/ng-ckeditor/ng-ckeditor.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/account/accountController.js")
script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/filters/sanitize.js")
script(type="text/javascript" src="/app/account/identity.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")
script(type="text/javascript" src="/app/account/settingsController.js")
script(type="text/javascript" src="/app/admin/usersController.js")
script(type="text/javascript" src="/app/admin/editUserController.js")
script(type="text/javascript" src="/app/users/usersService.js")
script(type="text/javascript" src="/app/users/usersByReputationController.js")
script(type="text/javascript" src="/app/questions/questionsService.js")
script(type="text/javascript" src="/app/questions/questionsController.js")
script(type="text/javascript" src="/app/questions/askQuestionController.js")
script(type="text/javascript" src="/app/questions/topQuestionsController.js")
script(type="text/javascript" src="/app/questions/singleQuestionController.js")
script(type="text/javascript" src="/app/questions/lastFiveQuestionsController.js")
script(type="text/javascript" src="/app/questions/unansweredQuestionsController.js")
script(type="text/javascript" src="/app/questions/questionsByTagController.js")
script(type="text/javascript" src="/app/questions/questionsAdminController.js")
script(type="text/javascript" src="/app/answers/answersService.js")
script(type="text/javascript" src="/app/tags/tagsService.js")
script(type="text/javascript" src="/app/tags/tagsController.js")
script(type="text/javascript" src="/app/tags/editTagController.js")
script(type="text/javascript" src="/app/tags/tagsAsideController.js")
script(type="text/javascript" src="/app/directives/match.js")