div.panel.panel-default
    div.panel-heading
        h4 Last 5 questions
    div.panel-body(ng-controller="LastFiveQuestionsController")
        ul.list-unstyled
            li(ng-repeat="question in questions")
                a(href="#/questions/{{ question.id }}") {{ question.title }}
    div.panel-footer
        a(href="#/questions") See all...