div.panel.panel-default
    div.panel-heading
        h4 Last 5 questions
    div.panel-body
        ul.list-unstyled
            li
                a(href="#") Question 1
            li
                a(href="#") Question 2
            li
                a(href="#") Question 3
            li
                a(href="#") Question 4
            li
                a(href="#") Question 5
    div.panel-footer
        a(href="#") See all...