div.panel.panel-default
    div.panel-heading
        h4 Tags
    div.panel-body
        ul.list-inline
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") C#
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") Javascript
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") MongoDb
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") Java
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") Nodejs
            li.label.label-primary.margin-right
                a.text-white.not-hover(href="#") AngularJS
    div.panel-footer
        a(href="#") See all...