.container
    div.row
        h3 Tags
        hr
        div.form-group.col-md-6
            label.text-size-18(for="Search") Search a tag
            input#Search.form-control(type="text", ng-model="search", placeholder="Tag name")
    div.row
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
    div.row
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag
        div.col-md-3
            a.text-size-14.label.label-primary(href="#") javascript
            p.text-size-12.text-primary
                | JavaScript (not to be confused with Java) is a dynamically-typed language commonly used for client-side scripting. Use this tag

