.container
    div.row
        h3 Tags
        hr
        div.form-group.col-md-6
            label.text-size-18(for="Search") Search a tag
            input#Search.form-control(type="text", ng-model="search", placeholder="Tag name")
    div.row(ng-controller="TagsController")
        div.col-xs-6.col-sm-3(ng-repeat="tag in tags")
            a.text-size-14.label.label-primary(href="#/questionsByTag/{{tag.name}}") {{ tag.name }}
            span &nbsp x {{ tag.questionsCount }}
            p.text-size-12.text-primary
                | {{ tag.description }}
