.container
    div.row
        h3 Задай въпрос
        hr
        div.col-md-9
            div.panel.panel-default
                div#panelBody.panel-body(ng-controller="AskQuestionController")
                    form.form-horizontal(name="askQuestionForm", method="post")
                        div.form-group
                            label.col-md-3.text-size-18(for="Title") Заглавие *
                            div.col-md-8
                                input#Title.form-control.form-validation(type="text", placeholder="Заглавие", ng-model="question.title", required)
                        div.form-group
                            label.col-md-3.text-size-18(for="Question") Въпрос *
                            div.col-md-8
                                textarea#Question.form-control.form-validation(ckeditor="editorOptions", ng-model="question.text", rows="12", required)
                        div.form-group
                            label.col-md-3.text-size-18(for="Tags") Тагове *
                            div.col-md-8
                                input#Tag.form-control(type="text", placeholder="Име на таг", ng-model="questionTag", ng-change="onQuestionTagChange()", ng-keyup="$event.keyCode == 13 ? onEnterTagSelect() : null", required)
                                div.list-group(ng-if="tagsSuggestions.length > 0")
                                  a.list-group-item(href="javascript:;" ng-repeat="suggestedTag in tagsSuggestions", ng-click="selectSuggestedTag(suggestedTag)")
                                    | {{suggestedTag.name}}
                                span.text.text-info минимум 1 таг
                                ul#choosenTags.list-unstyled.list-inline.margin-top-15
                                  li(ng-repeat="selectedTag in selectedTags")
                                    span.badge {{selectedTag.name}} 
                                      a(href="javascript:;", ng-click="deleteSelectedTag($index)")
                                        i.glyphicon.glyphicon-remove
                    button.btn.btn-success.pull-right(ng-click="askQuestion(question)") Задай върпос
        div.col-md-3
            include ../includes/lastQuestions
            include ../includes/tagsAside