.container
    div.row
        h3  Ask question
        hr
        div.col-md-9
            div.panel.panel-default
                div#panelBody.panel-body(ng-controller="QuestionsController")
                    form.form-horizontal(name="askQuestionForm", method="post")
                        div.form-group
                            label.col-md-3.text-size-18(for="Title") Title
                            div.col-md-8
                                input#Title.form-control.form-validation(type="text", placeholder="Title", ng-model="question.title", required)
                        div.form-group
                            label.col-md-3.text-size-18(for="Question") Question
                            div.col-md-8
                                textarea#Question.form-control.form-validation(placeholder="Question", ckeditor="editorOptions", ng-model="question.text", rows="12", ng-required="true")
                        div.form-group
                            label.col-md-3.text-size-18(for="Tags") Tags
                            div.col-md-8
                                select#chooseTags.form-control
                                    option(value='') choose tags...
                                    option(value="c#") c#
                                    option(value="javascript") javascript
                                    option(value="php") php
                                    option(value="html") html
                                    option(value="css3") css3
                                span.text.text-info min 1 tag, max 5 tags
                                ul#choosenTags.list-unstyled.list-inline.margin-top-15
                    button.btn.btn-success.pull-right(ng-click="askQuestion(question)") Ask your question
        script.
            var choosenTagsValues = [];

            function removeTag(element) {
                var tag = $(element).parent().text().trim(),
                    index = choosenTagsValues.indexOf(tag);
                angular.element('#panelBody').scope().removeSelectedTag(tag);
                if(index > -1) {
                    choosenTagsValues.splice(index, 1);
                    $(element).parent().remove();
                }
            }
            $(document).ready(function() {
                $('#chooseTags').change(function() {
                    var choosenTags = $('#choosenTags'),
                        selectedVal = $('#chooseTags option:selected').val().trim();

                    if(selectedVal) {
                        if(choosenTagsValues.indexOf(selectedVal) > -1) {
                            toastr.error("The tag is already added!");
                        }
                        else {
                            var html = "<li>" + selectedVal + "&nbsp<button onclick='removeTag(this)' class='btn btn-primary badge'><i class='glyphicon glyphicon-remove'></i></button></li>";
                            choosenTagsValues.push(selectedVal);
                            angular.element('#panelBody').scope().updateSelected(selectedVal);
                            console.log(angular.element('#panelBody').scope().allSelectedTags);
                            choosenTags.append(html);
                        }
                    }
                });
            });
        div.col-md-3
            include ../includes/lastQuestions
            include ../includes/tagsAside