.container
    div.row(ng-controller="SingleQuestionController")
        h3 {{ question.title }}
        hr
        div.col-md-9
            div.row
                div.col-sm-1.text-center
                    div#voteUp
                        a(href="javascript:;", title="Vote up", ng-click="voteUpQuestion()")
                            i.glyphicon.glyphicon-chevron-up
                    span.text-primary.text-size-18 {{ question.votes }}
                    div#voteDown
                        a(href="javascript:;", title="Vote down", ng-click="voteDownQuestion()")
                            i.glyphicon.glyphicon-chevron-down
                div.col-md-11
                    div(ng-bind-html="question.text | sanitize")
                    div.row
                        ul.col-md-8.list-inline
                            li.label.label-primary.margin-right(ng-repeat="tag in question.tags")
                                a.text-white.not-hover(href="#/questionsByTag/{{tag}}") {{ tag }}
                        div.col-md-4.well.pull-right
                            span.text-default asked {{ question.date }}
                                br
                                | by &nbsp
                                a(href="#/users/{{ question.author.id }}") {{ question.author.username }}
            div.row(ng-show="question.answers.length > 0")
                h4
                    strong {{ question.answers.length }} Answers
                hr
                div(ng-repeat="answer in question.answers")
                    div.col-sm-1.text-center
                        div#voteUp
                            a(href="javascript:;", title="Vote up", ng-click="voteUpAnswer(answer.id)")
                                i.glyphicon.glyphicon-chevron-up
                        span.text-primary.text-size-18 {{ answer.votes }}
                        div#voteDown
                            a(href="javascript:;", title="Vote down", ng-click="voteDownAnswer(answer.id)")
                                i.glyphicon.glyphicon-chevron-down
                    div.col-md-11
                        div(ng-bind-html="answer.text | sanitize")
                        div.row
                            div.col-md-4.well.pull-right
                                span.text-default answered {{ answer.date }}
                                    br
                                    | by &nbsp
                                    a(href="#/users/{{ answer.author.id }}") {{ answer.author.username }}
                        div(ng-show="answer.comments.length > 0")
                            h4
                                strong Comments
                            hr
                            div(ng-repeat="comment in answer.comments")
                                p.text-size-14 {{ comment.text }} - &nbsp
                                    a.text-size-14(href="#") {{ comment.author.username }}
                                    span.text-size-14 &nbsp {{ comment.date }}
                                hr
                            hr
                    a(href="#", target="_self", data-toggle="modal", data-target="#commentModal", ng-click="setAnswerId(answer.id)") add a comment
                    hr
            div.row.alert.alert-dismissable.alert-success(ng-hide="hasUser()")
                strong To add an answer you have to &nbsp
                    a.text.text-uppercase.text-danger(href="#/login") log in
            div.row.alert.alert-dismissable.alert-warning(ng-show="hasUser() && question.isLocked")
                strong The question is locked!
            div.row(ng-show="hasUser()")
                h3 Your answer
                textarea#Answer.form-control.margin-bottom(rows="12", ckeditor="editorOptions", ng-model="newAnswer.text")
                button.margin-top-15.btn.btn-success(ng-click="addAnswer(newAnswer)") Post your answer
                div#commentModal.modal(tabindex="-1", role="dialog", aria-hidden="true")
                    div.modal-dialog
                        div.modal-content
                            div.modal-header
                                button.close(type="button", data-dismiss="modal")
                                    span(aria-hidden="true") &times;
                                    span.sr-only Close
                                h4.modal-title Enter your comment
                            div.modal-body
                                textarea#Comment.form-control(rows="10", required="true", ng-model="newAnswerComment.text")
                            div.modal-footer
                                button.btn.btn-primary(type="button", ng-click="addComment(newAnswerComment)", data-dismiss="modal") Comment
                                button.btn.btn-default(data-dismiss="modal") Cancel
        div.col-md-3
            div.panel.panel-default
                div.panel-body
                    div.col-md-4 asked
                    div.col-md-8
                        strong {{ question.date }}
                    div.col-md-4 viewed
                    div.col-md-8
                        strong {{ question.views }} times
                    div.col-md-4 active
                    div.col-md-8
                        strong {{ question.lastActiveDate }}
            include ../includes/lastQuestions
            include ../includes/tagsAside