.container
    div.row(ng-controller="QuestionsController")
        h3 Best algorithm for video stabilization
        hr
        div.col-md-9
            div.row
                div.col-sm-1.text-center
                    div#voteUp
                        a(href="javascript:;", title="Vote up")
                            i.glyphicon.glyphicon-chevron-up
                    span.text-primary.text-size-18 5
                    div#voteDown
                        a(href="javascript:;", title="Vote down")
                            i.glyphicon.glyphicon-chevron-down
                div.col-md-11
                    p I am creating a program to stabilize the video stream. At the moment, my program works based on the phase correlation algorithm. I'm calculating an offset between two images - base and current. Next I correct the current image according to the new coordinates. This program works, but the result is not satisfactory. The related links you may find that the treated video appears undesirable and shake the whole video is becoming worse.
                    div.row
                        ul.col-md-8.list-inline
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") C#
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") Javascript
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") MongoDb
                        div.col-md-4.well
                            span.text-default.pull-right asked 32s ago
                                a(href="#user") Tihomir
                    h4 Comments
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    a(href="javascript:;", data-toggle="modal", data-target="#commentModal") add a comment
            div.row
                h4
                    strong 2 Answers
                hr
                div.col-sm-1.text-center
                    div#voteUp
                        a(href="javascript:;", title="Vote up")
                            i.glyphicon.glyphicon-chevron-up
                    span.text-primary.text-size-18 5
                    div#voteDown
                        a(href="javascript:;", title="Vote down")
                            i.glyphicon.glyphicon-chevron-down
                div.col-md-11
                    p I am creating a program to stabilize the video stream. At the moment, my program works based on the phase correlation algorithm. I'm calculating an offset between two images - base and current. Next I correct the current image according to the new coordinates. This program works, but the result is not satisfactory. The related links you may find that the treated video appears undesirable and shake the whole video is becoming worse.
                    div.row
                        ul.col-md-8.list-inline
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") C#
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") Javascript
                            li.label.label-primary.margin-right
                                a.text-white.not-hover(href="#") MongoDb
                        div.col-md-4.well
                            span.text-default.pull-right asked 32s ago
                                a(href="#user") Tihomir
                    h4 Comments
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    div
                        p.text-size-14 What kind of videos are you targeting? Just artificial images (where the scene is in fact a plane) or real videos where pixels may be at different depth? And what movements do you want to correct? Smooth motions are mostly desired, but movements with a high accelerations are usually noise.
                        a.text-size-14(href="#") Nico Schertler
                        span.text-size-14 May 20 at 21:58
                    hr
                    a(href="#") add a comment
            hr
            div.alert.alert-dismissable.alert-success
                strong To add an answer you have to &nbsp
                    a.text.text-capitalize.text-danger(href="#/login") log in
            h3 Your answer
            textarea#Answer.form-control.margin-bottom(rows="12")
            button.margin-top-15.btn.btn-success Post your answer
        div#commentModal.modal(tabindex="-1", role="dialog", aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Enter your comment
                    div.modal-body
                        textarea#Comment(rows="12", required="true")
                    div.modal-footer
                        button.btn.btn-primary(type="button", ng-click="addComment()", data-dismiss="modal") Comment
                        button.btn.btn-default(data-dismiss="modal") Cancel
        div.col-md-3
            div.panel.panel-default
                div.panel-body
                    div.col-md-4 asked
                    div.col-md-8
                        strong 5 months ago
                    div.col-md-4 viewed
                    div.col-md-8
                        strong 258 times
                    div.col-md-4 active
                    div.col-md-8
                        strong today
            include ../includes/lastQuestions
            include ../includes/tagsAside