.container
    div.row
        h3 {{ question.title }}
        hr
        div.col-md-9
            div.row
                div.col-sm-1.text-center
                    div#voteUp
                        a(href="javascript:;", title="Vote up", ng-click="voteUpQuestion()")
                            i.glyphicon.glyphicon-chevron-up
                    span.text-primary.text-size-18 {{ question.votes }}
                    div#voteDown
                        a(href="javascript:;", title="Vote down", ng-click="voteDownQuestion()")
                            i.glyphicon.glyphicon-chevron-down
                div.col-md-11
                    div(ng-bind-html="question.text | sanitize")
                    div.row
                        ul.col-md-8.list-inline
                            li.label.label-primary.margin-right(ng-repeat="tag in question.tags")
                                a(href="#/questions/tags/{{tag.name}}").text-white.not-hover {{ tag.name }}
                        div.col-md-4.well.pull-right
                            span.text-default попитан на {{ question.date }}
                                br
                                | от &nbsp
                                a(href="#/users/{{ question.author.id }}") {{ question.author.username }}
            div.row(ng-show="question.answers.length > 0")
                h4
                    strong {{ question.answers.length }} Отговори
                hr
                div(ng-repeat="answer in question.answers")
                    div.col-sm-1.text-center
                        div#voteUp
                            a(href="javascript:;", title="Vote up", ng-click="voteUpAnswer(answer.id, $index)")
                                i.glyphicon.glyphicon-chevron-up
                        span.text-primary.text-size-18 {{ answer.votes }}
                        div#voteDown
                            a(href="javascript:;", title="Vote down", ng-click="voteDownAnswer(answer.id, $index)")
                                i.glyphicon.glyphicon-chevron-down
                    div.col-md-11
                        div(ng-bind-html="answer.text | sanitize")
                        div.row
                            div.col-md-4.well.pull-right
                                span.text-default отговорен {{ answer.date }}
                                    br
                                    | от &nbsp
                                    a(href="#/users/{{ answer.author.id }}") {{ answer.author.username }}
                    hr
            div.row.alert.alert-dismissable.alert-success(ng-hide="identity.isAuthenticated()")
                strong За да зададете въпрос трябва да &nbsp
                    a.text.text-uppercase.text-danger(href="#/login") влезете в системата
            div.row(ng-if="identity.isAuthenticated()")
                h3 Вашият отговор
                textarea#Answer.form-control.margin-bottom(rows="12", ckeditor="editorOptions", ng-model="newAnswer.text")
                button.margin-top-15.btn.btn-success(ng-click="addAnswer()") Запиши
        div.col-md-3
            div.panel.panel-default
                div.panel-body
                    div.col-md-4 Дата
                    div.col-md-8
                        strong {{ question.date }}
                    div.col-md-4 Преглед
                    div.col-md-8
                        strong {{ question.views }} times
                    div.col-md-4 Активен
                    div.col-md-8
                        strong {{ question.lastActiveDate }}
            include ../includes/lastQuestions
            include ../includes/tagsAside