.container
    div.row
        h3 Въпроси
        hr
        div.col-md-9(ng-controller="TopQuestionsController")
            include questionsUI
        div.col-md-3
            include ../includes/lastQuestions
            include ../includes/tagsAside