.container
    div.row
        h3 Въпроси без отговор
        hr
        div.col-md-9(ng-controller="UnansweredQuestionsController")
            include questionsUI
        div.col-md-3
            include ../includes/lastQuestions
            include ../includes/tagsAside