div.panel.panel-success(ng-controller="ChangePasswordController")
  div.panel-heading
    h3.panel-title.text-left.text-size-18 Смяна на паролата
  div.panel-body
    form.form-horizontal(name="changePasswordForm")
      div.form-group
          label.col-md-4.text-size-18(for="oldPassword") Стара парола
          div.col-md-10
            input#oldPassword.form-control.form-validation(type="password", name="oldPassword", ng-model="passwordData.oldPassword")
            span.text-danger(ng-show="changePasswordForm.oldPassword.$error.required") Задължително поле!
      div.form-group
          label.col-md-4.text-size-18(for="newPassword") Нова парола 
          div.col-md-10
            input#newPassword.form-control.form-validation(type="password", name="newPassword", ng-model="passwordData.newPassword")
            span.text-danger(ng-show="changePasswordForm.newPassword.$error.required") Задължително поле!
    button.btn.btn-success.pull-right(ng-click="changePassword(user)") Смени паролата