.container
    div.col-md-6.col-md-offset-3(ng-controller="AccountController")
        div.row
            div.panel.panel-success
                div.panel-heading
                    h3.panel-title.text-center.text-size-18 Login
                div.panel-body
                    form.form-horizontal
                        div.form-group
                            label.col-md-6.text-size-18(for="Username") Потребителско име
                            div.col-md-12
                                input#Username.form-control(type="text", ng-model="user.username")
                        div.form-group
                            label.col-md-6.text-size-18(for="Password") Парола
                            div.col-md-12
                                input#Password.form-control(type="password", ng-model="user.password")
                    button.btn.btn-success.pull-right(ng-click="login(user)") Влез

