.container
  div.row(ng-controller="RankingsController", ng-if="ranking")
    h3(ng-if="!ranking.id") Класиране
    h3(ng-if="ranking.id") Класиране за {{ranking.month}}.{{ranking.year}}
    hr
    div.col-md-9
      div(ng-if="identity.isInRole('admin')")
        a.btn.btn-success.margin-right(href="#/admin/ranking/create" ng-if="!ranking.id") Създай ново класиране
        a.btn.btn-success(href="javascript:;" ng-click="finishCurrentRanking()" ng-if="ranking.id && !ranking.finished") Приключи класирането
      p(ng-if="!ranking.id") Не съществува класиране!
      div.table-responsive.margin-top-15(ng-if="ranking.id")
        table.table.table-bordered.table-hover
          thead
            tr
              th Награда
              th Победител
              th Репутация
          tbody.tbody
            tr
              td {{ ranking.firstPlacePrize }}
              td
                a(href="#/users/{{ranking.firstPlaceWinner.userId}}") {{ ranking.firstPlaceWinner.name }}
              td {{ ranking.firstPlaceWinner.reputation }}
            tr
              td {{ ranking.secondPlacePrize }}
              td 
                a(href="#/users/{{ranking.secondPlaceWinner.userId}}") {{ ranking.secondPlaceWinner.name }}
              td {{ ranking.secondPlaceWinner.reputation }}
            tr
              td {{ ranking.thirdPlacePrize }}
              td 
                a(href="#/users/{{ranking.thirdPlaceWinner.userId}}") {{ ranking.thirdPlaceWinner.name }}
              td {{ ranking.thirdPlaceWinner.reputation }}
    div.col-md-3
      include ../includes/lastQuestions
      include ../includes/tagsAside