.container
    div.row
        h3 All questions
        hr
        div.col-md-9
            ul.list-group
                li.row.list-group-item
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 0
                        p.text-primary.text-center votes
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 1
                        p.text-primary.text-center answers
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 2
                        p.text-primary.text-center views
                    div.col-md-9
                        h3.h-margin-top
                            a(href="#/questions/question") My question title here
                        div.row
                            ul.col-md-7.list-inline
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") C#
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") Javascript
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") MongoDb
                            div.col-md-5
                                span.text-default.pull-right asked 32s ago
                                    a(href="#user") Tihomir
                li.row.list-group-item
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 0
                        p.text-primary.text-center votes
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 1
                        p.text-primary.text-center answers
                    div.col-sm-1
                        p.text-primary.text-center.text-size-18 2
                        p.text-primary.text-center views
                    div.col-md-9
                        h3.h-margin-top
                            a(href="#/questions/question") My question title here
                        div.row
                            ul.col-md-7.list-inline
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") C#
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") Javascript
                                li.label.label-primary.margin-right
                                    a.text-white.not-hover(href="#") MongoDb
                            div.col-md-5
                                span.text-default.pull-right asked 32s ago
                                    a(href="#user") Tihomir
        div.col-md-3
            include ../includes/lastQuestions
            include ../includes/tagsAside